<div class="create-team">
    <form (ngSubmit)="create()" #teamForm="ngForm">
        <h2 class="form-title">Create team</h2>

        <div class="group name-group">
            <label class="name-label">Name</label>
            <input type="text" [(ngModel)]="teamForCreate.name" required name="firstname" #firstname="ngModel" placeholder="Required">
        </div>

        <div class="group created-group">
            <label class="created-label">Created At : </label>
            <input type="date" [ngModel]="teamForCreate.createdAt | date:'yyyy-MM-dd'" required name="registered" #registered="ngModel" (ngModelChange)="teamForCreate.createdAt = $event">
        </div>

        <div class="group submit-group">
            <button type="submit" [disabled]="teamForm.invalid">Create</button>
        </div>
        
    </form>
</div>