<app-team-list class="team-list" (onEdit)="onEditClick($event)" (onDelete)="onDelete($event)" (onAdd)="onAddClick()" (onSave)="onSave()">
</app-team-list>

<app-team-edit class="team-edit" [hidden]="!editIsVisible" (onEdit)="onEdit()">

</app-team-edit>

<app-team-create class="team-create" [hidden]="!createIsVisible" (onAdd)="onAdd()">

</app-team-create>