*{
    font-family:Arial, sans-serif;
    box-sizing: border-box;
}

.form-title{
    text-align: center;
}

.create-user{
    background-color: rgb(53, 53, 53);
    color: rgb(241, 241, 241);
    align-content: center;
}

.create-user > form{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 320px;
    display: grid;
    grid-template-rows: repeat(8, 35px);
}

input[type="text"]{
    outline: 0;
    border-width: 0 0 2px;
    background-color: rgb(53, 53, 53);
    color: rgb(224, 224, 224);
    height: 30px;
    font-size: 18px;
}

input[type="text"]:focus{
    border-color: rgb(0, 134, 105);
}

input[type="date"]{
    outline: 0;
    border: 1px 1px 1px;
    color: rgb(224, 224, 224);
    height: 30px;
    font-size: 18px;
    background: none;
    box-shadow: none;
    border: 1px solid rgb(112, 112, 112);
}

input.ng-touched.ng-invalid{
    border-color: rgb(219, 19, 19);
}

input[type="date"].ng-touched.errors.required{
    background-color: rgb(0, 134, 105);
}

.team-group select{
    outline: 0;
    border: 1px 1px 1px;
    background-color: rgb(53, 53, 53);
    color: rgb(224, 224, 224);
    height: 30px;
    font-size: 18px;
}

.form-title{
    grid-row: 1;
    align-self: center;
}

.firstname-label,
.lastname-label,
.email-label,
.birthday-label,
.registered-label,
.team-label{
    width: 200px;
}

.firstname-group,
.lastname-group,
.email-group,
.birthday-group,
.registered-group,
.team-group{
    display: grid;
    grid-template-columns: 130px 270px;
}

.submit-group button{
    height: 30px;
    width: 90px;
    color: rgb(224, 224, 224);
    height: 30px;
    font-size: 18px;
    border: 0;
    background: none;
    box-shadow: none;
    border: 1px solid rgb(224, 224, 224);
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.submit-group button:hover{
    background-color: rgb(70, 70, 70);
    cursor: pointer;
}

.submit-group button:disabled{
    background-color: rgb(94, 94, 94);
    color: rgb(146, 146, 146);
}

.submit-group button:disabled:hover{
    background-color: rgb(94, 94, 94);
    color: rgb(146, 146, 146);
    cursor: auto;
}
