<app-project-list class="project-list" (onEdit)="onEditClick($event)" (onDelete)="onDelete($event)" (onAdd)="onAddClick()" (onSave)="onSave()">
</app-project-list>

<app-project-edit class="project-edit" [hidden]="!editIsVisible" (onEdit)="onEdit()">
</app-project-edit>

<app-project-create class="project-create" [hidden]="!createIsVisible" (onAdd)="onAdd()">
</app-project-create>