<app-user-list class="user-list" (onEdit)="onEditClick($event)" (onDelete)="onDelete($event)" (onAdd)="onAddClick()" (onSave)="onSave()">
</app-user-list>

<app-edit-user class="user-edit" [hidden]="!editIsVisible" (onEdit)="onEdit()">

</app-edit-user>

<app-user-create class="user-create" [hidden]="!createIsVisible" (onAdd)="onAdd()">

</app-user-create>  