<app-task-list class="task-list" (onEdit)="onEditClick($event)" (onDelete)="onDelete($event)" (onAdd)="onAddClick()" (onSave)="onSave()">
</app-task-list>

<app-task-edit class="task-edit" [hidden]="!editIsVisible" (onEdit)="onEdit()">
</app-task-edit>

<app-task-create class="task-create" [hidden]="!createIsVisible" (onAdd)="onAdd()">
</app-task-create>