<div class="create-task">
    <form (ngSubmit)="create()" #taskForm="ngForm">
        <h2 class="form-title">Create task</h2>

        <div class="group name-group">
            <label class="name-label">Name</label>
            <input type="text" [(ngModel)]="taskForCreate.name" required name="name" #name="ngModel" placeholder="Required">
        </div>

        <div class="group description-group">
            <label class="description-label">Description : </label>
            <input type="text" [(ngModel)]="taskForCreate.description" required name="description" #description="ngModel" placeholder="Required">
        </div>

        <div class="group created-group">
            <label class="created-label">Created At : </label>
            <input type="date" [ngModel]="taskForCreate.createdAt | date:'yyyy-MM-dd'" required name="created" #registered="ngModel" (ngModelChange)="taskForCreate.createdAt = $event">
        </div>

        <div class="group finished-group">
            <label class="finished-label">Finished At : </label>
            <input type="date" [ngModel]="taskForCreate.finishedAt | date:'yyyy-MM-dd'" name="finished" #registered="ngModel" (ngModelChange)="taskForCreate.finishedAt = $event">
        </div>

        <div class="group state-group">
            <label class="state-label">State : </label>
            <select name="state" [(ngModel)]="taskForCreate.state" required #taskAuthor="ngModel">
                <option selected [value]="states.ToDo" >To Do</option>
                <option [value]="states.InProgress">In Progress</option>
                <option [value]="states.Done">Done</option>
                <option [value]="states.Canceled">Canceled</option>
            </select>
        </div>

        <div class="group project-group">
            <label class="project-label">Project:</label>
            <select name="project" [(ngModel)]="taskForCreate.projectId" required #taskAuthor="ngModel">
                <option *ngFor="let p of projects" [value]="p.id">
                    {{p.name}}
                </option>
            </select>
        </div>

        <div class="group performer-group">
            <label class="performer-label">Performer:</label>
            <select name="performer" [(ngModel)]="taskForCreate.performerId" required #taskTeam="ngModel">
                <option *ngFor="let u of users" [value]="u.id">
                    {{u.firstName}}
                </option>
            </select>
        </div>

        <div class="group submit-group">
            <button type="submit" [disabled]="taskForm.invalid">Create</button>
        </div>
        
    </form>
</div>