<div class="task-list">
    <ul>
        <li *ngFor="let task of tasks">
            <div class="task-row">
                <div class="task-properties">
                    <div class="name">
                        <span class="info-tag">Name</span>
                        <span>{{task.name}}</span>
                    </div>
                    <div class="description">
                        <span class="info-tag">Description</span>
                        <span>{{task.description}}</span>
                    </div>
                    <div class="created">
                        <span class="info-tag">Created At</span>
                        <span>{{task.createdAt | dateCustom}}</span>
                    </div>
                    <div class="finished">
                        <span class="info-tag">Finished At</span>
                        <span>{{task.finishedAt | dateCustom}}</span>
                    </div>
                    <div class="state">
                        <span class="info-tag">State</span>
                        <div class="task-state" appTaskState [state]="task.state"></div>
                    </div>
                    <div class="project">
                        <span class="info-tag">Project</span>
                        <span>{{getProjectNameById(task.projectId)}}</span>
                    </div>
                    <div class="author">
                        <span class="info-tag">Author</span>
                        <span>{{getUserNameById(task.performerId)}}</span>
                    </div>
                    <div class="edit" [ngClass]="'edit'+task.id">
                        <span (click)="edit(task)">Edit</span>
                    </div>
                    <div class="delete" [ngClass]="'delete'+task.id">
                        <span (click)="delete(task)">Delete</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <button class="saveButton" (click)="save()">Save changes</button>
    <button class="newtaskButton" (click)="add()">New task</button>
</div>
