<div class="edit-task">
    <form (ngSubmit)="update()" #taskForm="ngForm">
        <h2 class="form-title">Edit task</h2>

        <div class="group name-group">
            <label class="name-label">Name</label>
            <input type="text" [(ngModel)]="taskForEdit.name" required name="name" #name="ngModel" placeholder="Required">
        </div>

        <div class="group description-group">
            <label class="description-label">Description : </label>
            <input type="text" [(ngModel)]="taskForEdit.description" required name="description" #description="ngModel" placeholder="Required">
        </div>

        <div class="group created-group">
            <label class="created-label">Created At : </label>
            <input type="date" [ngModel]="taskForEdit.createdAt | date:'yyyy-MM-dd'" required name="created" #registered="ngModel" (ngModelChange)="taskForEdit.createdAt = $event">
        </div>

        <div class="group finished-group">
            <label class="finished-label">Finished At : </label>
            <input type="date" [ngModel]="taskForEdit.finishedAt | date:'yyyy-MM-dd'" required name="finished" #registered="ngModel" (ngModelChange)="taskForEdit.finishedAt = $event">
        </div>

        <div class="group state-group">
            <label class="state-label">State : </label>
            <select name="state" [(ngModel)]="taskForEdit.state" required #taskState="ngModel">
                <option [value]="0">To Do</option>
                <option [value]="1">In Progress</option>
                <option [value]="2">Done</option>
                <option [value]="3">Canceled</option>
            </select>
        </div>

        <div class="group project-group">
            <label class="project-label">Project:</label>
            <select name="project" [(ngModel)]="taskForEdit.projectId" required #taskProject="ngModel">
                <option *ngFor="let p of projects" [value]="p.id">
                    {{p.name}}
                </option>
            </select>
        </div>

        <div class="group performer-group">
            <label class="performer-label">Performer:</label>
            <select name="performer" [(ngModel)]="taskForEdit.performerId" required #taskPerformer="ngModel">
                <option *ngFor="let u of users" [value]="u.id">
                    {{u.firstName}}
                </option>
            </select>
        </div>

        <div class="group submit-group">
            <button type="submit" [disabled]="taskForm.invalid">Edit</button>
        </div>
        
    </form>
</div>