<div class="team-list">
    <ul>
        <li *ngFor="let team of teams">
            <div class="team-row">
                <div class="team-properties">
                    <div class="name">
                        <span class="info-tag">Name</span>
                        <span>{{team.name}}</span>
                    </div>
                    <div class="created">
                        <span class="info-tag">Created At</span>
                        <span>{{team.createdAt | dateCustom}}</span>
                    </div>
                    <div class="edit" [ngClass]="'edit'+team.id">
                        <span (click)="edit(team)">Edit</span>
                    </div>
                    <div class="delete" [ngClass]="'delete'+team.id">
                        <span (click)="delete(team)">Delete</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <button class="saveButton" (click)="save()">Save changes</button>
    <button class="newTeamButton" (click)="add()">New Team</button>
</div>
