<div class="edit-user">
    <form (ngSubmit)="update()" #userForm="ngForm">
        <h2 class="form-title">Edit user</h2>

        <div class="group firstname-group">
            <label class="firstname-label">First Name</label>
            <input type="text" [(ngModel)]="userForEdit.firstName" required name="firstname" #firstname="ngModel" placeholder="Required">
        </div>

        <div class="group lastname-group">
            <label class="lastname-label">Last name : </label>
            <input type="text" [(ngModel)]="userForEdit.lastName" required name="lastname" #lastname="ngModel" placeholder="Required">
        </div>

        <div class="group email-group">
            <label class="email-label">Email : </label>
            <input type="text" [(ngModel)]="userForEdit.email" required name="email" #email="ngModel" placeholder="Required">
        </div>

        <div class="group birthday-group">
            <label class="birthday-label">Birthday : </label>
            <input type="date" [ngModel]="userForEdit.birthDay | date:'yyyy-MM-dd'" required name="birthday" #birthday="ngModel" (ngModelChange)="userForEdit.birthDay = $event">
        </div>

        <div class="group registered-group">
            <label class="registered-label">Registered At : </label>
            <input type="date" [ngModel]="userForEdit.registeredAt | date:'yyyy-MM-dd'" required name="registered" #registered="ngModel" (ngModelChange)="userForEdit.registeredAt = $event">
        </div>

        <div class="group team-group">
            <label class="team-label">Team:</label>
            <select name="team" [(ngModel)]="userForEdit.teamId" required #userTeam="ngModel">
                <option *ngFor="let t of teams" [value]="t.id">
                    {{t.name}}
                </option>
            </select>
        </div>

        <div class="group submit-group">
            <button type="submit" [disabled]="userForm.invalid">Edit</button>
        </div>

    </form>
</div>