<nav>
    <div class="nav-button" routerLink="/projects">
        Projects
    </div>
    <div class="nav-button" routerLink="/tasks">
        Tasks
    </div>
    <div class="nav-button" routerLink="/teams">
        Teams
    </div>
    <div class="nav-button" routerLink="/users">
        Users
    </div>
</nav>