*{
    background-color: rgb(51, 51, 51);
    height: 60px;
    box-sizing: border-box;
}

nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family:Arial, sans-serif;
    font-size: 18px;
    align-content: center;
    border-bottom: 1px solid rgb(158, 158, 158);
}

div{
    background-color: rgb(54, 54, 54);
    border: 2px solid rgb(141, 141, 141);
    color: rgb(0, 180, 135);
    height: 40px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 6px 0;
}

div:hover{
    background-color: rgb(70, 70, 70);
    border-color: rgb(0, 173, 130);
    cursor: pointer;
}
