*{
    font-family:Arial, sans-serif;
    box-sizing: border-box;
    position: relative;
}

*::-webkit-scrollbar{
    background-color: rgb(104, 104, 104);
}

span{
    display: contents;
}

.user-row{
    margin: 10px;
    padding-left: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.555);
    height: 60px;
    background-color: rgb(6, 114, 87);
}

.user-list {
    height: calc(100vh - 320px - 60px);
    background-color: rgb(46, 46, 46);
    overflow-y: scroll;
    border-bottom: 1px solid rgb(158, 158, 158);
}

.user-list > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-properties{
    color: rgb(235, 235, 235);
    display: grid;
    grid-template-columns: 160px 160px 1fr 1fr 1fr 160px 90px 90px;
    align-items: center;
    grid-template-rows: 60px;
}

.user-properties .edit{
    color: rgb(102, 154, 250);
}

.user-properties .delete{
    color: rgb(248, 60, 60);
}

.edit > span:hover, 
.delete > span:hover{
    cursor: pointer;
}

.info-tag{
    color: rgb(158, 158, 158);
    margin-bottom: 5px;
    display: block;
}

.newUserButton,
.saveButton{
    position: absolute;
    bottom: 10px;
    height: 40px;
    font-size: 17px;
    width: auto;
    background-color: rgb(46, 46, 46);
    color: rgb(235, 235, 235);
    border: 0;
    border: 1px solid rgb(235, 235, 235);
}

.newUserButton{
    right: 10px;
}

.saveButton{
    right: 110px;
}

.newUserButton:hover,
.saveButton:hover{
    background-color: rgb(63, 63, 63);
    cursor: pointer;
}