<div class="user-list">
    <ul>
        <li *ngFor="let user of users">
            <div class="user-row">
                <div class="user-properties">
                    <div class="name">
                        <span class="info-tag">Name</span>
                        <span>{{user.firstName}}</span>
                    </div>
                    <div class="lastname">
                        <span class="info-tag">Lastname</span>
                        <span>{{user.lastName}}</span>
                    </div>
                    <div class="email">
                        <span class="info-tag">Email</span>
                        <span>{{user.email}}</span>
                    </div>
                    <div class="birthday">
                        <span class="info-tag">Birthday</span>
                        <span>{{user.birthDay | dateCustom}}</span>
                    </div>
                    <div class="registered">
                        <span class="info-tag">Registered At</span>
                        <span>{{user.registeredAt | dateCustom}}</span>
                    </div>
                    <div class="team">
                        <span class="info-tag">Team</span>
                        <span>{{getTeamNameById(user.teamId)}}</span>
                    </div>
                    <div class="edit" [ngClass]="'edit'+user.id">
                        <span (click)="edit(user)">Edit</span>
                    </div>
                    <div class="delete" [ngClass]="'delete'+user.id">
                        <span (click)="delete(user)">Delete</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <button class="saveButton" (click)="save()">Save changes</button>
    <button class="newUserButton" (click)="add()">New User</button>
</div>
