<div class="edit-team">
    <form (ngSubmit)="update()" #teamForm="ngForm">
        <h2 class="form-title">Edit Team</h2>

        <div class="group name-group">
            <label class="name-label">Name</label>
            <input type="text" [(ngModel)]="teamForEdit.name" required name="firstname" #firstname="ngModel" placeholder="Required">
        </div>

        <div class="group created-group">
            <label class="created-label">Registered At : </label>
            <input type="date" [ngModel]="teamForEdit.createdAt | date:'yyyy-MM-dd'" required name="registered" #registered="ngModel" (ngModelChange)="teamForEdit.createdAt = $event">
        </div>

        <div class="group submit-group">
            <button type="submit" [disabled]="teamForm.invalid">Edit</button>
        </div>

    </form>
</div>