<div class="project-list">
    <ul>
        <li *ngFor="let project of projects">
            <div class="project-row">
                <div class="project-properties">
                    <div class="name">
                        <span class="info-tag">Name</span>
                        <span>{{project.name}}</span>
                    </div>
                    <div class="description">
                        <span class="info-tag">Description</span>
                        <span>{{project.description}}</span>
                    </div>
                    <div class="created">
                        <span class="info-tag">Created At</span>
                        <span>{{project.createdAt | dateCustom}}</span>
                    </div>
                    <div class="deadline">
                        <span class="info-tag">Deadline</span>
                        <span>{{project.deadline | dateCustom}}</span>
                    </div>
                    <div class="team">
                        <span class="info-tag">Team</span>
                        <span>{{getTeamNameById(project.teamId)}}</span>
                    </div>
                    <div class="author">
                        <span class="info-tag">Author</span>
                        <span>{{getUserNameById(project.authorId)}}</span>
                    </div>
                    <div class="edit" [ngClass]="'edit'+project.id">
                        <span (click)="edit(project)">Edit</span>
                    </div>
                    <div class="delete" [ngClass]="'delete'+project.id">
                        <span (click)="delete(project)">Delete</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <button class="saveButton" (click)="save()">Save changes</button>
    <button class="newProjectButton" (click)="add()">New Project</button>
</div>
