<div class="edit-project">
    <form (ngSubmit)="update()" #userForm="ngForm">
        <h2 class="form-title">Edit project</h2>

        <div class="group name-group">
            <label class="name-label">Name</label>
            <input type="text" [(ngModel)]="projectForEdit.name" required name="name" #name="ngModel" placeholder="Required">
        </div>

        <div class="group description-group">
            <label class="description-label">Description : </label>
            <input type="text" [(ngModel)]="projectForEdit.description" required name="description" #description="ngModel" placeholder="Required">
        </div>

        <div class="group created-group">
            <label class="created-label">Created At : </label>
            <input type="date" [ngModel]="projectForEdit.createdAt | date:'yyyy-MM-dd'" required name="created" #registered="ngModel" (ngModelChange)="projectForEdit.createdAt = $event">
        </div>

        <div class="group deadline-group">
            <label class="deadline-label">Deadline : </label>
            <input type="date" [ngModel]="projectForEdit.deadline | date:'yyyy-MM-dd'" required name="deadline" #registered="ngModel" (ngModelChange)="projectForEdit.deadline = $event">
        </div>

        <div class="group team-group">
            <label class="team-label">Team:</label>
            <select name="team" [(ngModel)]="projectForEdit.teamId" required #projectTeam="ngModel">
                <option *ngFor="let t of teams" [value]="t.id">
                    {{t.name}}
                </option>
            </select>
        </div>

        <div class="group author-group">
            <label class="author-label">Author:</label>
            <select name="author" [(ngModel)]="projectForEdit.authorId" required #projectAuthor="ngModel">
                <option *ngFor="let u of users" [value]="u.id">
                    {{u.firstName}}
                </option>
            </select>
        </div>

        <div class="group submit-group">
            <button type="submit" [disabled]="userForm.invalid">Edit</button>
        </div>

    </form>
</div>